@CHARSET "ISO-8859-1";

#newPolicyForm .error
{
  border-color: #ff5c5c;
}

label.error
{
	color:red;
	font-family:verdana, Helvetica;
	font-size: small;
	display: none;
}

img.imgDownloadPdf
{
	height: 20px;
	width: 20px;
}